<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/mystyle.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../js/portfolio.js"></script>

<script>
var tab =angular.module('TabsApp', []);
tab.controller('TabsCtrl', ['$scope', function ($scope,$http) {
    $scope.tabs = [
    	{
            name: "About Me",
            index:1,
            url: "aboutme.html"
        }, 
        {
            name: "Experience",
            index:1,
            url: "experience.html"
        }, 
        {	
			name:"Projects",
			index:3,
			url :"projects.html"
		},

		{	
			name:"Contact Me",
			index:4,
			url :"contactme.html"
		}
    ];


    $scope.currentTab = 'home.html';

    $scope.onClickTab = function (tab) {
        $scope.currentTab = tab.url;
    }
    
    $scope.isActiveTab = function(tabUrl) {
        return tabUrl == $scope.currentTab;
    }
}]);
tab.controller('projectsCtrl', ['$scope', function ($scope,$http)
{
		$scope.projects = [
    	{cate_name:"Data Science",
    	index:1,
    	pro:[{
            	name: "IMDb Rating and Gross Income Prediction",
            	desc: "Developed a tool in R for cleaning of IMDb’s data and prediction of rating for upcoming movies based on the attributes like actor’s rating, director’s rating, genre using machine learning techniques such as decision tree, k means clustering and neural networks.",
            	url: "abc.html"
        	}, 
        	{
            	name: "Bitcoin Price Variation Prediction",
            	desc: "Utilized machine learning technique of Bayesian Regression in Python to predict the variation in the cryptocurrency useful for bitcoin trading, using an application to predict the variation in the bitcoin price, useful for bitcoin trading strategies.",
            	url: "abc.html"
        	}, 
        	{	
				name: "Market Segmentation",
				desc:"Developed an application to predict the communities using Facebook’s data using Python, useful in detecting the group of people with similar taste, helpful in recommendation of friends, network analysis and visualization based on the algorithm Structure-Attribute Clustering.",
            	url: "abc.html"
			},
			{	
				name: "Anomaly Detection",
				desc:"Developed an application to find out the anomalies in time evolving graph using data from different domains using NetworkX and Python based on the NetSimile algorithm.",
            	url: "abc.html"
			},
			{	
				name: "Time Series analysis",
				desc: "Built an application to predict the popularity of a restaurant at a particular day and time based on time series analysis on the checkin dataset provided by Yelp using Python and MongoDB.",
            	url: "abc.html"
			}]
	},
	{	cate_name:"Operating Systems",
		index:2,
    	pro:[{
            	name: "Non Persistent Heap",
            	desc: "Developed an in-memory kernel module, that provides efficient data sharing among different processes, in C which maps kernel space memory into user space memory using the user-space library interface and signs the requested size memory , specified by the offset, in kernel using the offset. Lock and unlock functions were implemented using the user space library to guarantee only one process can access an object at the same time leveraging the shared  memory policy.",
            	url: "abc.html"
        	}, 
        	{
            	name: "Transactional Non Persistent Heap" ,
            	desc: "Designed a kernel module in C which utilizes the concept of concurrency without locking. Version number is maintained for the object and a transaction is allowed to commit only if the version number is the same, i.e. no other transactions has changed the value. If the transaction cannot commit, it is aborted and restarted.",
            	url: "abc.html"
        	}, 
        	{	
				name: "Non Persistent Heap File System",
				desc:"Implemented a File System in C using the Fuse library and previously developed NPHeap kernel module. The file system is compatible with conventional file system operations. Data structures and operations that maintain the abstraction of a file system were implemented, with persistent data storage capabilities.",
            	url: "abc.html"
			}]
	},
	{	cate_name:"Database",
		index:3,
    	pro:[{
            	name: "Course Registration System",
            	desc: "Developed an application for managing course registration, financial details, administrator functionalities while utilizing the concepts of relational databases using Java and Oracle with extensive use of procedures and triggers.",
            	url: "abc.html"
        	}, 
        	{
            	name: "Hospital Management System" ,
            	desc: "Designed a kernel module in C which utilizes the concept of concurrency without locking. Version number is maintained for the object and a transaction is allowed to commit only if the version number is the same, i.e. no other transactions has changed the value. If the transaction cannot commit, it is aborted and restarted.",
            	url: "abc.html"
        	}, 
        	{	
				name: "Library Management System",
				desc:"Implemented a File System in C using the Fuse library and previously developed NPHeap kernel module. The file system is compatible with conventional file system operations. Data structures and operations that maintain the abstraction of a file system were implemented, with persistent data storage capabilities.",
            	url: "abc.html"
			}]
	},
	{
		cate_name:"Web Services",
		index:4,
		pro:[{
			name:"Processing of Streaming Data using AWS infrastructure Services",
			desc:"Built a pipeline to process massive volumes of streaming data obtained using the Twitter API using AWS Kinesis for handling the streamed data, AWS Dynamodb for storing the unstructured data in a NoSQL Database, AWS Elastic Map Reduce to process the large volumes of streamed data efficiently. Implemented Pig, Hive and Spark programs to perform data analysis on an Elastic Map Reduce cluster and compared their performance.",
			url:"abc.html",
		}]
	}

    ];
    $scope.image="../images/me.jpg";
    $scope.tab=1;
}]);
</script>
</head>
<body >
	<header>Anyone can write code that a computer can understand. Good programmers write code that humans can understand.</header>
	<div class="logo">this will be the logo</div>

<div ng-app="TabsApp">
    <div class="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.name}}</li>
        </ul>
        <div id="mainView" >
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="home.html">
		<div ng-init="image='../images/me.jpg'" class="Welcome">
			<img ng-src="{{image}}" alt="Rachit Thirani">
			<div>
			<h1>Hi. I am Rachit Thirani</h1>
			<h2>Master Of Computer Science</h2>
			<h2>Bachlor Of Enrineering - Information and Communication Technology</h2>
			<p>Thank you for visiting rachitthirani.info</p>
			<p>Select any tab to know about me and my skills</p>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="aboutme.html">
		<div class="aboutMe">
			<p>  My name is Rachit Thirani I am a passionate Software Developer with expertise in Full Stack Web Development and Data Analysis. Programming and computers facinated me since my childhood. My parents wanted to rpovide me with somethings which there were not lucky enough to use in their generation and this hooked me up to amazing world of computers.
            </p>
            <p> I did my Bachlors from Manipal University in Information Technology. which can be considered as my first formal introduciton to high level programming concepts and skills. the courses which i took kepy my passion growing and the hunger to learn more never kept on growing.
                <section>
                    course work:
                </section>
            </p>
            <p>
                New place, new university, new course work didtnt hold me back form achieving my dream and I came to the United States to achieve this dream. I graduated with Masters in Computer Science from North Carolina State University in December, 2017, with expertise in Data Science.
                <seciton>
                    CourseWork:
                </section>
                </p>
                 <p>I have broad experience across a wide spectrum of software programming languages,technology stacks, databases and tools.</p>
                 <p>TO know more about my experience please switch to the experience tab</p>
            </p>
            
		</div>
	</script>
	
	<script type="text/ng-template" id="experience.html">
		<div class="experience">
			<p>I have worked as Interactive developer L1 at Sapient Nitro from November 2014 till May 2016. 
			My tasks and duties were as follows </p>
			<ul>
				<li>Specialized developer in Front-End domain for several multi-million dollar clients.</li>
				<li>Developed and tested responsive components with cross browser compatibility for client’s webpages.</li>
				<li>Reduced the maintenance effort required by automation of CSS for all clients’s modules using GRUNT and LESS</li>
				<li>Managed Front-End developers as Track Lead and POC for all development</li>
				<li>Additional Technologies Used - HTML5, AJAX, Javascript, JQuery, Bootstrap, NodeJS, AngularJS, CSS3</li>
			</ul>
		</div>
	</script>
	
	<script type="text/ng-template" id="projects.html">
		<div id="viewThree">
			<h1>projects</h1>
			<p>machine learning</p>
		</div>

		<div ng-app="projectsApp">
    		<div id="pro" ng-controller="projectsCtrl">
        	<!--<ul>
        			<li ng-repeat="cat in projects">{{cat.cate_name}}
        				<ul>
            				<li ng-repeat="pro in cat.pro" >{{pro.name}}<p>{{pro.desc}}</p><a>{{pro.url}}</a></li>
            			</ul>
            		</li>
        		</ul>-->
        	<div> 
        		<ul class="tabbedview">
        			<li ng-class="{active:tab==0}">
                        <a href ng-click="tab = tab==0 ? null : 0">All</a>
                    </li>
        			<li ng-repeat="cat in projects" ng-class="{active:tab=={{cat.index}}}"> 
      					<a href ng-click="tab = tab=={{cat.index}} ? null : {{cat.index}}">{{cat.cate_name}}</a>     
   			 		</li> 
        		</ul>
        		<section ng-show="tab === 0"> {{cat.cate_name}}
        			<ul>
        				<li ng-repeat="cat in projects">{{cat.cate_name}}
        					<ul>
            					<li ng-repeat="pro in cat.pro" >{{pro.name}}<p>{{pro.desc}}</p><a>{{pro.url}}</a></li>
            				</ul>
            			</li>
        			</ul>
        	
        		</section> 
        		<section ng-repeat="cat in projects" ng-show="tab === {{cat.index}}"> {{cat.cate_name}}
        			<p ng-repeat="pro in cat.pro" >{{pro.name}}
        			<span>{{pro.desc}}</span>
        			<a>{{pro.url}}</a>
        			</p>
        		</section>           
       		 </div>
        </div>

    </div>
	</script>
	<script type="text/ng-template" id="contactme.html">
		<div class="contactme" background="connect_background.jpg">
			<h1>contact me</h1>
			<div>
			<a href="https://www.facebook.com/rachit.thirani"><img src="../images/fb.png"></a>
			<a href="https://www.linkedin.com/in/rachitthirani/"><img src="../images/linkedin.png"></a>
			<a href="mailto:rachitthirani@yahoo.com"><img src="../images/email.png"></a>
			<a href="tel:+19197716184"><img src="../images/phone.jpg"</a>
			<div>
		</div>
	</script>
</div>
</body>
</html>